/* === zero style === start */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button,
select,
input,
label {
  outline: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

/* === zero style === end */

/* === style mode === start */
:root {
  --jt-primary: #f67938;
  --jt-text-color: #686868;
  --jt-heading-color: #0000cd;
  --jt-link-color: #0000cd;
  --jt-link-hover: #0000cd;
  --jt-blockquote: #343a40;
  --jt-btn-primary: #f67938;
  --jt-btn-primary-hover: #f46013;
  --jt-btn-light-hover: #0000cd;
  --jt-border-light: #efefef;
  --jt-border-bottom-color: #dee2e6;
  --jt-bg-light: #f3f7f9;
  --jt-bg-archive: #ffff f;
  --jt-nav-text: #0000cd;
  --jt-nav-hover: #f67938;
  --jt-nav-active: #0000cd;
  --jt-nav-mobile: #ffffff;
  --jt-bg-body: #ffffff;
  --jt-bg-header: #ffffff;
  --jt-bg-footer: #212529;
  --jt-text-footer: #9fa6ad;
  --jt-bg-dropdown: #ffffff;
  --jt-dropdown-text: #0000cd;
  --jt-dropdown-hover: #f67938;

  --bs-font-sans-serif: system-ui, -apple-system, Segoe UI, Helvetica Neue,
    Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.dark-mode {
  --jt-primary: #f67938;
  --jt-text-color: #9fa6ad;
  --jt-heading-color: #9fa6ad;
  --jt-link-color: #0000cd;
  --jt-link-hover: #0000cd;
  --jt-blockquote: #343a40;
  --jt-btn-primary: #f67938;
  --jt-btn-primary-hover: #f46013;
  --jt-btn-light-hover: #ffffff;
  --jt-border-bottom-color: #dee2e6;
  --jt-border-light: #323539;
  --jt-bg-light: #292d31;
  --jt-bg-archive: #292d31;
  --jt-nav-text: #9fa6ad;
  --jt-nav-hover: #ffffff;
  --jt-nav-active: #0000cd;
  --jt-nav-mobile: #212529;
  --jt-bg-body: #212529;
  --jt-bg-header: #212529;
  --jt-bg-footer: #212529;
  --jt-text-footer: #9fa6ad;
  --jt-bg-dropdown: #292d31;
  --jt-dropdown-text: #9fa6ad;
  --jt-dropdown-hover: #ffffff;
}
/* === style mode === end */

/* === basic style === start */
body {
  background-color: var(--jt-bg-body);
  font-family: var(--bs-font-sans-serif);
}
.container {
  max-width: 1320px;
  margin: auto;
  padding: 0 1rem;
}
.d-none {
  display: none;
}
.text-reset {
  color: inherit;
}
.w-50 {
  width: 50%;
}
/* === basic style === end */

/* === header === start */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--jt-bg-header);
  border-bottom: 1px solid var(--jt-border-bottom-color);
  z-index: 1000;
}
header.hide {
  top: -100%;
}
.lable-navbar {
  color: var(--jt-link-color);
  display: none;
}
.lable-navbar:hover {
  color: var(--jt-link-hover);
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
/* link to home === */
.HTML {
  padding: 10px 0;
}
.HTML a {
  color: var(--jt-link-color);
  font-weight: 700;
}
/* link option === */
.linkList {
  display: flex;
  order: 1;
}
/* links to social */
.social-links {
  border-right: 1px solid var(--jt-border-light);
}
.social-links__list {
  display: flex;
  align-items: center;
}
.social-links__list a {
  color: var(--jt-link-color);
  padding: 0 0.5rem;
}
/* dark toggle mode */
.linkList__dark-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-dark-toggle {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: transparent;
  font-size: 1.25rem;
  width: 40px;
  color: var(--jt-blockquote);
}
.linkList__search i {
  color: var(--jt-link-color);
}
.linkList__search {
  position: relative;
}
form {
  position: absolute;
  right: 0;
  bottom: -4rem;
  z-index: 100;
  display: none;
  min-width: 300px;
  background-color: var(--jt-bg-dropdown);
  color: var(--jt-dropdown-text);
  border-color: var(--jt-border-light);
  border-radius: .25rem;
  padding: 0.25rem;
}
form input{
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem;
  font-weight: 400;
  background-color: transparent;
}
form button{
  color: #fff;
  background-color: var(--jt-btn-primary);
  border-color: var(--jt-btn-primary);
  border-radius: 50rem;
  font-weight: 700;
  padding: 0.2rem 1.2rem;
}
form button:hover{
  background-color: var(--jt-btn-primary-hover);
  border-color: var(--jt-btn-primary-hover);
}
#search-toggle:checked ~ form {
  display: flex;
}

/* links to other pages === */
.linkList__pageList {
  flex-grow: 1;
  align-items: center;
}
.nav-pageList {
  display: flex;
  flex-direction: row;
}
.menu-link {
  padding: 1.5rem 1rem;
}

.nav-link {
  font: normal bold 16px var(--bs-font-sans-serif);
  line-height: 1.5;
  color: var(--jt-nav-text);
}
.nav-link:hover {
  color: var(--jt-link-hover);
}
/* === header === end*/

/* === main == start */
.main__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.widget-title {
  font-family: var(--bs-font-sans-serif);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--jt-text-color);
}
.item-tag {
  margin-bottom: 1rem;
  color: var(--jt-text-color);
  font-weight: 300;
  font-family: var(--bs-font-sans-serif);
}
.item-title {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 1.2;
  color: var(--jt-heading-color);
  font-family: var(--bs-font-sans-serif);
}
.item-snippet {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: var(--bs-font-sans-serif);
  color: var(--jt-text-color);
  line-height: 1.5;
}
.item-meta {
  display: flex;
  color: #6c757d;
  font-weight: 300;
  gap: 1rem;
}
.item-meta span {
  margin-left: 0.5rem;
}
/* main content === */
.main__content {
  padding-top: 1.5rem;
}
/* featured Post = start */
.feature-posts {
  display: flex;
}
/* item thumbnail */
.item-thumbnail {
  flex: 0 0 auto;
  padding-right: 1em;
}
.item-thumbnail a {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  position: relative;
}
.item-thumbnail a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* item content  */
.item-content {
  flex: 0 0 auto;
  padding: 0 1.5rem;
}
.item-thumbnail_1x1 a {
  padding-bottom: 100%;
}
/* featured Post = end */

/* Blog = start  */
.blog {
  padding: 1.5rem 1rem 3rem 0;
}
/* widget content = start  */
.widget-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.2rem;
}
.blog__item {
  width: 49%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  /* margin: 0 .5rem .5rem; */
  background-color: var(--jt-bg-archive);
  border-radius: 0.25rem;
}
.blog__item:hover{
  box-shadow: 0 0.2rem 0 0.1rem;
}
.item-thumbnail_16x9 {
  padding: 0;
}
.item-thumbnail_16x9 a {
  padding-bottom: 56.25%;
}
.blog_item-content {
  padding: 1.5rem;
}
.fs-5 {
  font-size: 1.25rem;
}
/* widget content = end */
/* Blog = end */

/* ads bar === */
.main__sidebar {
  border-left: 1px solid var(--jt-border-light);
  position: relative;
  display: block;
  padding: 0 1rem;
}
.sidebar-sticky {
  position: sticky;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  top: 0;
  width: 100%;
}
.sidebar-content {
  background-color: var(--jt-bg-light);
  min-height: 3rem;
  border-radius: 0.25rem;
}
/* === main == end */

/* === footer === start  */
footer {
  border-top: 1px solid var(--jt-border-light);
  text-align: center;
  padding: 1rem 0;
}
.badge {
  width: 100%;
}
.badge2 a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--jt-link-color);
}
.credit {
  font-size: 1rem;
  color: var(--jt-text-footer);
}
.credit a {
  text-decoration: none;
  color: var(--jt-link-color);
}
/* === footer === end */

/* btn go to top = start  */
#btnToTop {
  position: fixed;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  color: var(--jt-text-color);
  background-color: var(--jt-bg-light);
  border-color: var(--jt-bg-light);
  right: 1.5rem;
  bottom: 1.5rem;
}
/* btn go to top = end */

/* === media from base style === start */
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .linkList {
    opacity: none;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .linkList__pageList {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: var(--jt-border-light);
    padding: 3rem;
  }
  .nav-pageList {
    flex-direction: column;
  }
  .menu-link {
    width: 100%;
    border-bottom: 1px solid var(--jt-border-light);
  }
  .lable-navbar {
    display: block;
    margin-right: 1rem;
    position: relative;
    z-index: 4000;
  }
  #navbar-toggle:checked ~ .linkList__pageList {
    left: 0;
  }
  .main__container {
    grid-template-columns: 1fr;
  }
  .blog {
    padding: 2rem 0;
  }
  .main__sidebar {
    border: none;
    border-top: 1px solid var(--jt-border-light);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .feature-posts {
    flex-direction: column;
  }
  .feature-posts .item-thumbnail a {
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 75%;
    position: relative;
    width: auto;
    margin: 0 -1rem;
  }
  .feature-posts .item-thumbnail {
    width: 100%;
    margin-bottom: -150px;
    padding: 0;
  }
  .feature-posts .item-content {
    width: 100%;
    position: relative;
    z-index: 600;
    background-color: var(--jt-bg-body);
    border: 5px solid var(--jt-border-light);
    border-radius: 0.25rem;
    padding: 1.5rem;
  }
  .blog__item {
    width: 100%;
  }
}
/* === media from base style === end */
